# Default owners:
*       @domchen @Hparty @lvpengwei

*.js    @domchen @Hparty @lvpengwei
*.ts    @domchen @Hparty @lvpengwei
*.sh    @kevingpqi123 @domchen @Hparty @lvpengwei
/*      @kevingpqi123 @domchen @Hparty @lvpengwei
/web/    @domchen @Hparty
/.github/  @kevingpqi123 @domchen @Hparty @lvpengwei
/test/   @kevingpqi123 @domchen @Hparty @lvpengwei
/linux/  @kevingpqi123 @domchen @Hparty @lvpengwei
/win/    @kevingpqi123 @domchen @Hparty @lvpengwei
