# Default owners:
*       @domchen @Hparty @lvpengwei

*.sh    @kevingpqi123
/*      @kevingpqi123
/ohos/    @kevingpqi123
/mac/    @kevingpqi123
/ios/    @kevingpqi123
/.github/  @kevingpqi123
/test/   @kevingpqi123
/linux/  @kevingpqi123
/win/    @kevingpqi123
