# Default owners:
*       @domchen @Hparty @lvpengwei @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @lvpengwei @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @lvpengwei @shlzxjp
/ohos/    @kevingpqi123 @domchen @Hparty @lvpengwei @shlzxjp
/mac/    @kevingpqi123 @domchen @Hparty @lvpengwei @shlzxjp
/ios/    @kevingpqi123 @domchen @Hparty @lvpengwei @shlzxjp
/.github/  @kevingpqi123 @domchen @Hparty @lvpengwei @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @lvpengwei @shlzxjp
/linux/  @kevingpqi123 @domchen @Hparty @lvpengwei @shlzxjp
/win/    @kevingpqi123 @domchen @Hparty @lvpengwei @shlzxjp
